<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main.java.com.farmerassistant.mapper.SysUserRoleMapper" >
  <resultMap id="BaseResultMap" type="main.java.com.farmerassistant.model.SysUserRole" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sys_userId" property="sysUserid" jdbcType="BIGINT" />
    <result column="sys_roleId" property="sysRoleid" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sys_userId, sys_roleId, create_time, update_time, is_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_user_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="main.java.com.farmerassistant.model.SysUserRole" >
    insert into sys_user_role (id, sys_userId, sys_roleId, 
      create_time, update_time, is_deleted
      )
    values (#{id,jdbcType=BIGINT}, #{sysUserid,jdbcType=BIGINT}, #{sysRoleid,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="main.java.com.farmerassistant.model.SysUserRole" >
    insert into sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysUserid != null" >
        sys_userId,
      </if>
      <if test="sysRoleid != null" >
        sys_roleId,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sysUserid != null" >
        #{sysUserid,jdbcType=BIGINT},
      </if>
      <if test="sysRoleid != null" >
        #{sysRoleid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="main.java.com.farmerassistant.model.SysUserRole" >
    update sys_user_role
    <set >
      <if test="sysUserid != null" >
        sys_userId = #{sysUserid,jdbcType=BIGINT},
      </if>
      <if test="sysRoleid != null" >
        sys_roleId = #{sysRoleid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="main.java.com.farmerassistant.model.SysUserRole" >
    update sys_user_role
    set sys_userId = #{sysUserid,jdbcType=BIGINT},
      sys_roleId = #{sysRoleid,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>